.sort-btn {
    cursor: pointer;
    width: 175px;
}
.page-item.active .page-link {
    background-color: #1665d8 !important;
    box-shadow: none;
}
.sort-btn:hover {
    color: #0168fa;
}
.badge-sites {
    padding: 6px !important;
    font-size: 10px !important;
}
